<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="POST">
        <label for="ort">Ort: </label>
        <input type="text" id= "ort">

        <label for="datum">Datum: </label>
        <input type="date" id= "datum">

        <label for="uhrzeit">Uhrzeit: </label>
        <input type="time" id= "Uhrzeit">

        <label for="rückmeldung">Rückmeldung: </label>
        <input type="date" id= "rückmeldung">

        <button type="submit">Einladung erstellen</button>

    </form>
    
</body>
</html>