<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
     <div  class="container">
        <div class = "title" >
            <img src="/image/title.png" alt="Title" class="title-img">
            <div class = "infobox">
                <p><strong>Wo: </strong> <%= ort %></p>
                <p><strong>Wann: </strong>Wann: <%= datum %></p>
                <p><strong>Uhrzeit: </strong> <%= uhrzeit %></p>
                <p><strong>Rückmeldung bis: </strong> <%= rückmeldung %></p>
            </div>
        </div>
        <div typ="button" id="accept" class="btn accept">
            <img src="/image/Button_zusage.png" alt="Zusage">
        </div>
        <div typ="button" id="decline" class="btn decline">
            <img src="/image/Button_absage.png" alt="Absage">
        
        </div>
    </div>
   
</body>
</html>